<div class="container">

  <div class="logo-wrapper" (click)="navigateToHome()">
    <h2>Communa</h2>
  </div>
  <app-autocomplete-search *ngIf="authService.isLoggedIn()"></app-autocomplete-search>

  <button class="push" mat-button [matMenuTriggerFor]="menu">{{languageService.language}}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="languageService.setEN()">en</button>
    <button mat-menu-item (click)="languageService.setFR()">fr</button>
  </mat-menu>


  <button mat-button *ngIf="authService.isLoggedIn()" (click)="authService.logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</div>


