@import "src/styles"

.container
  display: flex
  background: $system-color

  .logo-wrapper
    display: flex
    justify-content: center
    align-items: center
    margin-left: 2%
    cursor: pointer

    h2
      font-family: 'Montserrat', sans-serif
      font-size: larger

  .push
    margin-left: auto
