.container
  padding: 2%


  header
    display: flex

    img
      width: 100px
      height: 100px
      border-radius: 50%
      object-fit: cover

    .title-wrapper
      margin-left: 3%

  .additional-information-wrapper
    margin-top: 5%
    width: 40%
    display: grid
    grid-template-columns: 1fr 1fr
