<div class="container">
  <header>
    <img mat-card-sm-image src="{{user.avatar}}">
    <div class="title-wrapper">
      <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
      <mat-card-subtitle>{{user.role | translate}}</mat-card-subtitle>
    </div>
  </header>

  <div class="additional-information-wrapper">
    <h3>{{'Birthday' | translate}}:</h3>
    <p>
      {{user.birthday | date}}
    </p>
    <h3>{{'Gender' | translate}}:</h3>
    <p>{{user.gender | translate}}</p>
    <h3>{{'Email' | translate}}:</h3>
    <p>{{user.email}}</p>
    <h3 *ngIf="isUniversity">{{'Education' | translate}}:</h3>
    <div *ngFor="let uni of user.education">
        <p>{{'University' | translate}}: {{uni.university}}</p>
        <p>{{'Faculty' | translate}}: {{uni.faculty}}</p>
        <p>{{'Years' | translate}}: {{uni.startYear}} - {{uni.endYear}}</p>
    </div>
  </div>
</div>
