<div class="container">


  <form [formGroup]="userInformationForm" (ngSubmit)="onSubmit()">

    <mat-accordion>

      <mat-expansion-panel expanded="">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>{{'Personal data' | translate}}</h4>
          </mat-panel-title>
          <mat-panel-description>
            {{'Edit name, surname, gender and age' | translate}}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <div class="img-wrapper">
          <img class="avatar" *ngIf="id" src="{{user.avatar}}" (click)="openDialog(user)">
          <img class="avatar" *ngIf="!id && user.avatar" src="{{user.avatar}}" (click)="addAvatar(user)">
          <mat-icon *ngIf="!id && !user.avatar" (click)="addAvatar(user)">add_a_photo</mat-icon>
        </div>

        <mat-list>

          <mat-divider></mat-divider>

          <mat-list-item>
            <div class="full-name-block">
              <h4>{{"Full name" | translate}}:</h4>
              <div class="pair-field-wrapper">
                <mat-form-field>
                  <input id="name" matInput placeholder="{{'Name' | translate}}" formControlName="name">
                  <mat-error
                    *ngIf="userInformationForm.get('name').hasError('pattern') && (userInformationForm.get('name').touched || userInformationForm.get('name').dirty)">
                    {{'Name must have' | translate}} <strong>{{'only letters' | translate}}</strong>.
                    <br>
                  </mat-error>
                  <mat-error
                    *ngIf="userInformationForm.get('name').hasError('required') && (userInformationForm.get('name').touched || userInformationForm.get('name').dirty)">
                    {{'Name is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input id="surname" matInput placeholder="{{'Surname' | translate}}"
                         formControlName="surname">
                  <mat-error
                    *ngIf="userInformationForm.get('surname').hasError('pattern') && (userInformationForm.get('surname').touched || userInformationForm.get('surname').dirty)">
                    {{'Surname must have' | translate}} <strong>{{'only letters' | translate}}</strong>.
                    <br>
                  </mat-error>
                  <mat-error
                    *ngIf="userInformationForm.get('surname').hasError('required') && (userInformationForm.get('surname').touched || userInformationForm.get('surname').dirty)">
                    {{'Surname is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="gender-block">
              <h4>{{'Gender' | translate}}:</h4>
              <mat-radio-group *ngIf="id" formControlName="gender" color="primary">
                <mat-radio-button value="Male">{{'Male' | translate}}</mat-radio-button>
                <mat-radio-button value="Female">{{'Female' | translate}}</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group *ngIf="!id" formControlName="gender" color="primary">
                <mat-radio-button value="Male">{{'Male' | translate}}</mat-radio-button>
                <mat-radio-button value="Female">{{'Female' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="birthday-block">
              <h4>{{'Birthday' | translate}}:</h4>
              <mat-form-field>
                <input id="age" formControlName="birthday" [value]="" matInput [max]="startDate" [min]="endDate"
                       [matDatepicker]="picker" placeholder="{{'Choose a date' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error
                  *ngIf="userInformationForm.get('birthday').hasError('matDatepickerMax')">
                  {{'Age should be' | translate}} <strong>18+</strong>.
                  <br>
                </mat-error>
                <mat-error
                  *ngIf="userInformationForm.get('birthday').hasError('matDatepickerMin')">
                  {{'It is' | translate}} <strong>{{'not real' | translate}}</strong> {{'age' | translate}}.
                  <br>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="userInformationForm.get('birthday').value">
            <div class="age-block">
              <h4>{{'Current age (automatically)' | translate}}:</h4>
              <p>{{userInformationForm.get('birthday').value | age}}</p>
            </div>
          </mat-list-item>
        </mat-list>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>{{'Account attributes' | translate}}</h4>
          </mat-panel-title>
          <mat-panel-description>
            {{'Edit email, password and system role' | translate}}
            <mat-icon>alternate_email</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <div class="credentials-block">
              <h4>{{'Credentials' | translate}}:</h4>
              <div class="pair-field-wrapper">
                <mat-form-field>
                  <input id="email" matInput placeholder="{{'Email' | translate}}"
                         formControlName="email">
                  <mat-error
                    *ngIf="userInformationForm.get('email').hasError('email') && !userInformationForm.hasError('required') && (userInformationForm.get('email').dirty || userInformationForm.get('email').touched)">
                    {{'Please enter a valid email address' | translate}}
                  </mat-error>
                  <mat-error
                    *ngIf="userInformationForm.get('email').hasError('required') && (userInformationForm.get('email').touched || userInformationForm.get('email').dirty)">
                    {{'Email is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                    <br>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input id="password" type="password" matInput placeholder="{{'Password' | translate}}"
                         formControlName="password">
                  <mat-error
                    *ngIf="userInformationForm.get('password').hasError('minlength') && !userInformationForm.get('password').hasError('required' && userInformationForm.get('password')['errors']['minlength']['requiredLength']) && (userInformationForm.get('password').touched || userInformationForm.get('password').dirty)">
                    {{'The password must have a minimum of' | translate}}
                    <strong>{{ userInformationForm.get('password')['errors']['minlength']['requiredLength']
                      }}</strong> {{'characters' | translate}}.
                    <br>
                    {{'Now' | translate}} -
                    <strong>{{ userInformationForm.get('password')['errors']['minlength']['actualLength'] }} </strong> {{'characters' | translate}}
                    .
                  </mat-error>
                  <mat-error
                    *ngIf="userInformationForm.get('password').hasError('required') && (userInformationForm.get('password').touched || userInformationForm.get('password').dirty)">
                    {{'Password is' | translate}} <strong>{{'required' | translate}}</strong><br><br></mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="role-block">
              <h4>{{'Role' | translate}}:</h4>
              <mat-radio-group *ngIf="id" formControlName="role" color="primary">
                <mat-radio-button value="User">{{'User' | translate}}</mat-radio-button>
                <mat-radio-button value="Administrator">{{'Administrator' | translate}}</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group *ngIf="!id" formControlName="role" color="primary">
                <mat-radio-button value="User">{{'User' | translate}}</mat-radio-button>
                <mat-radio-button value="Administrator">{{'Administrator' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-list-item>
        </mat-list>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>{{'Education' | translate}}</h4>
          </mat-panel-title>
          <mat-panel-description>
            {{'Edit education info (university, faculty, study years)' | translate}}
            <mat-icon>book</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <mat-list></mat-list>

        <div formArrayName="education"
             *ngFor="let item of education.controls; let i = index;">
          <mat-list-item [formGroupName]="i">
            <div class="education-block">
              <h3>{{'University' | translate}} #{{i + 1}}</h3>
              <div class="education-fields-wrapper">
                <div class="pair-field-wrapper">
                  <mat-form-field>
                    <input matInput placeholder="{{'University' | translate}}" formControlName="university">
                    <mat-error
                      *ngIf="item.get('university').hasError('required') && (item.get('university').touched || item.get('university').dirty)">
                      {{'University is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="{{'Faculty' | translate}}" formControlName="faculty">
                    <mat-error
                      *ngIf="item.get('faculty').hasError('required') && (item.get('faculty').touched || item.get('faculty').dirty)">
                      {{'Faculty is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="pair-field-wrapper">
                  <mat-form-field>
                    <input matInput placeholder="{{'Start year' | translate}}" formControlName="startYear">
                    <mat-error
                      *ngIf="item.get('startYear').hasError('required') && (item.get('startYear').touched || item.get('startYear').dirty)">
                      {{'Start year is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('startYear').hasError('max') && (item.get('startYear').touched || item.get('startYear').dirty)">
                      {{'Year you start education should be' | translate}} <strong><{{maxStartEducationYear}}</strong>
                      <br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('startYear').hasError('min') && (item.get('startYear').touched || item.get('startYear').dirty)">
                      {{'Year should be a' | translate}} <strong>1950+</strong>
                      <br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('startYear').hasError('pattern') && (item.get('startYear').touched || item.get('startYear').dirty)">
                      {{'Year should be a' | translate}} <strong>{{'number' | translate}}</strong>.
                      <br>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="{{'End year' | translate}}" formControlName="endYear">
                    <mat-error
                      *ngIf="item.get('endYear').hasError('required') && (item.get('endYear').touched || item.get('endYear').dirty)">
                      {{'Start year is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('endYear').hasError('max') && (item.get('endYear').touched || item.get('endYear').dirty)">
                      {{'Year you start education should be' | translate}} <strong><{{maxStartEducationYear}}</strong>
                      <br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('endYear').hasError('min') && (item.get('endYear').touched || item.get('endYear').dirty)">
                      {{'Year should be a' | translate}} <strong>1950+</strong>
                      <br>
                    </mat-error>
                    <mat-error
                      *ngIf="item.get('endYear').hasError('pattern') && (item.get('endYear').touched || item.get('endYear').dirty)">
                      {{'Year should be a' | translate}} <strong>{{'number' | translate}}</strong>.
                      <br>
                    </mat-error>
                  </mat-form-field>
                  <mat-error
                    *ngIf="item.hasError('range') && (item.get('startYear').touched || item.get('startYear').dirty || item.get('endYear').touched || item.get('endYear').dirty)">
                    {{'End year should be' | translate}}
                    <strong>{{'more' | translate}}</strong> {{'than start year' | translate}}
                    .
                    <br>
                  </mat-error>
                </div>
              </div>
              <button mat-icon-button (click)="removeUniversity(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <button mat-icon-button [disabled]="userInformationForm.controls['education'].invalid"
                (click)="addUniversity()">
          <mat-icon>add_box</mat-icon>
          {{'add university' | translate}}
        </button>

      </mat-expansion-panel>

    </mat-accordion>

    <button mat-button class="login-btn" *ngIf="id" [disabled]="userInformationForm.invalid">{{'Edit' | translate}}</button>
    <button mat-button class="login-btn" *ngIf="!id" [disabled]="userInformationForm.invalid">{{'Create' | translate}}</button>

  </form>
</div>





