@import "../../../../styles"

.container, form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 2%



//expansion panel style
mat-expansion-panel
  margin-bottom: 10px
  background-color: azure


.mat-expansion-panel-header-description
  flex-basis: 0
  justify-content: space-between
  align-items: center

.mat-expansion-panel-header-title
  flex-basis: 0



.img-wrapper
  display: flex
  justify-content: center
  align-items: center

  mat-icon
    cursor: pointer
    transition: 0.1s

  mat-icon:hover
    transform: scale(1.2)

mat-radio-group
  display: flex
  flex-direction: column
  justify-content: space-around


.gender-block, .role-block, .birthday-block, .full-name-block, .age-block, .credentials-block, .education-block
  display: grid
  grid-template-columns: 1fr 1fr
  width: 100%

  mat-form-field
    width: 45%


  .pair-field-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between

.mat-divider
  margin-top: 20px
  margin-bottom: 20px








