@import "src/styles"

.container
  background: azure


.login-form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 90vh

  .title
    font-family: 'Courier Prime', monospace

  .login-btn
    font-family: 'Courier Prime', monospace

  .form-block
    margin: 3%

  form
    display: flex
    flex-direction: column


