<app-header></app-header>
<div class="container">
  <div class="login-form">
    <h1 class="title">{{'Authorization' | translate}}</h1>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

      <mat-form-field class="form-block">
        <input id="email" matInput placeholder="{{'Email' | translate}}" [(ngModel)]="user.email" name="email"
               #email="ngModel" required email>
        <mat-error
          *ngIf="email.touched && email.errors?.required">
          {{'Email is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
          <br>
        </mat-error>
        <mat-error
          *ngIf="email.touched && email.errors?.email">
          {{'Please enter a valid email address' | translate}}<br><br>
          <br>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form-block">
        <input id="password" type="password" matInput placeholder="{{'Password' | translate}}" [(ngModel)]="user.password"
               name="password" #password="ngModel" required minlength="6">
        <mat-error
          *ngIf="(password.touched || password.dirty) && password.errors?.minlength">
          {{'The password must have a minimum of' | translate}}
          <strong>6</strong> {{'characters' | translate}}.
          <br>
          {{'Now' | translate}} -
          <strong>{{ user.password.length }} </strong> {{'characters' | translate}}
          .
        </mat-error>
        <mat-error
          *ngIf="(password.touched || password.dirty) && password.errors?.required">
          {{'Password is' | translate}} <strong>{{'required' | translate}}</strong><br><br>
          .
        </mat-error>
      </mat-form-field>


      <button mat-button class="login-btn" [disabled]="contactForm.invalid">{{'sign in' | translate}}</button>

    </form>
  </div>
</div>

