<ngx-spinner
  bdOpacity = 0.3
  bdColor = "#000000"
  size = "medium"
  color = "#fff"
  type = "ball-circus"
  [fullScreen] = "true"
>
  <p style="color: white" > {{'Loading' | translate}}... </p>
</ngx-spinner>
<router-outlet></router-outlet>


