@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap')



.container
  display: flex
  flex-direction: row
  justify-content: center
  padding: 1%

  .company-wrapper, .git-wrapper
    display: flex
    flex-direction: column
    align-items: center

    h4, span, a, p
      font-family: 'Roboto Condensed', sans-serif

    h4
      margin: 1%
    p
      margin-top: 5%
      margin-bottom: 0

    a
      text-decoration: none
      color: black
      cursor: pointer

    a:hover
      text-decoration: underline


