.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden

  .hidden
    display: none

  .mat-icon-button
    transition: 0.1s

  .mat-icon-button:hover
    transform: scale(1.2)



  mat-dialog-content
    height: auto

    p
      align: center

img
  width: 20%

.dialog-container
  background-color: black
