<div class="container">
  <div mat-dialog-content>
    <p *ngIf="data.message === 'delete'">{{'do you want to delete surname account?' | translate: {'surname': data.data.surname } }}</p>
    <p *ngIf="data.message === 'edit'">{{'do you want to edit surname account?' | translate: {'surname': data.data.surname } }}</p>
    <p *ngIf="data.message === 'add'">{{'do you want to add account?' | translate}}</p>
    <p *ngIf="data.message === 'editImage'">{{'what do you want to do with surname avatar?' | translate: {'surname': data.data.surname} }}</p>
    <p *ngIf="data.message === 'deleteAvatar'">{{'Are you sure you want to delete this avatar?' | translate}}</p>

    <div class="container" *ngIf="data.message === 'editAvatar'">
      <h3>{{'Choose file' | translate}}</h3>
      <input class="hidden" type="file" name="image" (change)="fileProgress($event)" #hiddenfileinput/>
      <button mat-icon-button (click)="hiddenfileinput.click()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <img *ngIf="previewUrl" [src]="previewUrl" height="auto"/>
      <p *ngIf="fileData">{{fileData.size | fileSize}}</p>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close] cdkFocusInitial>{{'No thanks'|translate}}</button>
    <button
      *ngIf="data.message === 'delete' || data.message === 'edit' || data.message === 'deleteAvatar' || data.message === 'add'"
      mat-button [mat-dialog-close]="data.data.id">{{'Ok' | translate}}
    </button>
    <button mat-button *ngIf="data.message === 'editAvatar'" (click)="onSubmit(data.data)">{{'Submit' | translate}}</button>
    <button *ngIf="data.message === 'editImage'" mat-button (click)="editAvatar(data.data)">{{'edit' | translate}}</button>
    <button *ngIf="data.message === 'editImage'" mat-button (click)="deleteAvatar(data.data)">{{'delete' | translate}}
    </button>
  </div>
</div>


