<div class="container">
    <div class="content-container">

      <mat-card class="add-new-user" [routerLink]="['add']" *ngIf="this.authService.isAdminIn()">
        <h2>{{'Add new user' | translate}}</h2>
      </mat-card>

      <mat-card class="user-card" *ngFor="let user of users">
        <div class="content-wrapper"  matBadge="&#8288;" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="!(user.status === 'online')">
          <img src="{{user.avatar}}">
          <div class="user-header">
            <div>
              <span>{{user.name | slice: 0: 1}}. {{user.surname}}</span>
            </div>
            <div>
              <mat-card-subtitle>{{user.role | translate}}</mat-card-subtitle>
            </div>
          </div>
        </div>
        <div class="actions-wrapper">
          <button class="admin-action-button" *ngIf="authService.isAdminIn()" mat-icon-button (click)="openDialog(user)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="admin-action-button" *ngIf="authService.isAdminIn()" mat-icon-button [routerLink]="[user.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button class="user-action-button" *ngIf="!authService.isAdminIn()" [routerLink]="[user.id]">{{'More information' | translate}}</button>
        </div>
      </mat-card>

    </div>

  <mat-paginator *ngIf="dataLength > defaultPageSize"
                 [length]="dataLength"
                 [pageSize]="defaultPageSize"
                 [pageSizeOptions]="defaultSizeOptions"
                 (page)="changePage($event)"
                 showFirstLastButtons
                 color="primary"
  >
  </mat-paginator>
</div>






