@import ../../../../styles
.container
  display: flex
  flex-direction: column

.content-container
  display: grid
  grid-template-columns: 1fr 1fr 1fr

  mat-card
    border-radius: 5%
    transition: 0.1s
    margin: 10px

  .user-card
    background-color: azure

    .content-wrapper
      display: flex
      flex-direction: row
      margin: 4%

    .actions-wrapper
      display: flex
      flex-direction: row

      .admin-action-button
        transition: 0.2s

      .admin-action-button:hover
        transform: scale(1.2)

      .user-action-button
        font-size: small


    .user-header
      margin-left: 5%
      margin-top: 3px

    img
      width: 50px
      height: 50px
      border-radius: 50%
      object-fit: cover

mat-card:hover
  border-radius: 0
  transform: scale(1.05)

.add-new-user
  cursor: pointer
  background-color: #fcecff
  display: flex
  align-items: center
  justify-content: center


mat-paginator
  background: rgba(255,253,209,0.18)











