@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap')

/* You can add global styles to this file, and also import other style files */
$system-color: #fffdd1
//$element-background-color: rgba(129, 86, 42, 0.76)
//$card-background-color: rgba(101, 67, 33, 0.31)
$system-font-size: 2vh
$avatar-width: 15%

body
  margin: 0

.container
  max-width: 970px
  margin: 0 auto

@media (max-width: 1200px)
  .container
    max-width: 970px



@media (max-width: 992px)
  .container
    max-width: 750px


@media (max-width: 767px)
  .container
    max-width: none


.avatar-wrapper
  width: $avatar-width
  height: $avatar-width
  margin: 0 auto
  overflow: hidden
  border-radius: 50%


.avatar
  width: $avatar-width
  margin: 0 auto
  cursor: pointer
  border-radius: 10%
  transition: 1s


.avatar:hover
  border-radius: 0%
  transform: scale(1.2)

  -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 17)
  -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 17)
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 17)










