<mat-form-field>
    <input matInput placeholder="{{'search by surname' | translate}}"[matAutocomplete]="auto" [formControl]="searchCtrl">
  <mat-error *ngIf="searchCtrl.hasError('pattern') && (searchCtrl.dirty || searchCtrl.touched)">
    Input <strong>only</strong> letters and numbers
  </mat-error>
    <mat-autocomplete color="#FFFFFF" #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading">{{'Loading' | translate}}...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let user of users; let i = index" [value]="user.surname">
          <span (click)="navigateTo(user.id)">{{user.name | slice: 0: 1}}. {{user.surname}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

