@import "src/styles"

.container
  min-height: 100vh
  display: flex
  flex-direction: column
  background: rgba(255,253,209,0.18)


app-header, app-footer
  background: $system-color
  max-width: 970px
  //margin: 0 auto

  @media (max-width: 1200px)
  app-header, app-footer
    max-width: 970px


@media (max-width: 992px)
  app-header, app-footer
    max-width: 750px


@media (max-width: 767px)
  app-header, app-footer
    max-width: none

app-header
  position: sticky
  top: 0
  z-index: 2


.system-container
  flex: 1
  padding: 2%


